<%
// This partial has access to:
//  • `navItems`      (an array of nav item dictionaries)
//  • `navItem        (a nav item dictionary)
%>
<span>
  <a href="/documentation/<%= navItem.slug %>">
    <%= navItem.displayName %>
  </a>
  <% if(_.isArray(navItem.children) && navItem.children.length > 0) { %>
  <div class="expand-button"><img class="down-arrow" src="/images/angle_down.png"/></div>
  <% } %>
</span>


<% if(_.isArray(navItem.children) && navItem.children.length > 0) { %>
<ul>
  <%
    _.each(navItem.children, function (childPath){
    // Here we assume that childSlug always references another menu item in `navItems` that actually exists.
    // (this is a _fine_ assumption)
    var childNavItem = _.find(navItems, function(navItem) {
      return navItem.path.toLowerCase() === childPath.toLowerCase();
    });

    if(childNavItem) {
      if(_.contains(expandedItems, childNavItem.path)) {
        childNavItem.isInitiallyExpanded = true;
      }
      else childNavItem.isInitiallyExpanded = false;
      %>

      <li class="mobile-nav-item <%= childNavItem.isInitiallyExpanded && !childNavItem.isParent ? 'expanded' : childNavItem.isInitiallyExpanded && childNavItem.isParent ? 'expanded current-parent' : ''%>" ng-class="{'current': getIsCurrent('<%= childNavItem.slug %>'), 'expanded': getIsExpanded('<%= childNavItem.path %>'), 'folder': <%= childNavItem.isParent %>}">
      <% /* Take the recursive step, rendering this partial again. */ %>
      <%- partial('../partials/mobile-nav-item', {navItem: childNavItem, navItems: navItems, expandedItems: expandedItems}) %>
      </li>

    <% }
    }); %>
</ul>
<% } %>
