<span><a href="/documentation/<%= data.section %>?page=<%= navItem.slug %>"><%= navItem.displayName %></a></span>

<% if(navItem.children && navItem.children.length) { %>
<ul>
  <% _.each(navItem.children, function (childPath){
    var childData = _.find(data.templateList, {path: childPath});
  %>

  <li ng-class="{'current': getIsCurrent('<%= navItem.slug %>'), 'expanded': getIsExpanded('<%= navItem.id %>')}">
  <%- partial('../partials/nav-item', {navItem: childData}) %>
  </li>

  <% }); %>
</ul>
<% } %>
