<%
// This partial has access to:
//  • `navItems`      (an array of nav item dictionaries)
//  • `navItem        (a nav item dictionary)
%>
<span>
  <a href="/documentation/<%= data.section %>?page=<%= navItem.slug %>">
    <% // Only have the 'folder' arrow in the template if this is the anatomy page
       // and if the `navItem` has `children`.
      if(data.section === 'anatomy' && navItem.children && navItem.children.length) { %>

    <img class="expand-arrow" src="/images/img_collapsedArrow.png"/>

    <% } %>

    <%= navItem.displayName %>

    <% // Only have the 'current' arrow in the template if this isn't the anatomy page
      if(data.section !== 'anatomy') { %>

    <i class="current-arrow"><img src="/images/arrow_blue.png"/></i>

    <% } %>
  </a>
</span>

<% if(_.isArray(navItem.children) && navItem.children.length > 0) { %>
<ul>
  <% _.each(navItem.children, function (childSlug){
    // Here we assume that childSlug always references another menu item in `navItems` that actually exists.
    // (this is a _fine_ assumption)
    var childNavItem = _.find(navItems, {slug: childSlug});
  %>

  <li ng-class="{'current': getIsCurrent('<%= childNavItem.slug %>'), 'expanded': getIsExpanded('<%= childNavItem.slug %>'), 'folder': <%= childNavItem.isParent %>}">
  <% /* Take the recursive step, rendering this partial again. */ %>
  <%- partial('../partials/nav-item', {navItem: childNavItem, navItems: navItems}) %>
  </li>

  <% }); %>
</ul>
<% } %>
