<% /* Expose menu data to make it accessible to client-side javascript */ %>
<script>
window.MENU_DATA = <%- JSON.stringify(data.templateList) %>;
</script>


<%- partial('../partials/docs-main-nav.ejs') %>

<div class="main-container anatomy-page" ng-controller="DocsCtrl" scrollng>
  <div class="anatomy-container">
    <!-- Region with the information about the selected file -->
    <div class="anatomy-content">
      <div class="anatomy-section">
        <%- partial('../partials/doc-templates/'+data.currentTemplate.path) %>
      </div>

      <div class="contribution-message">
        <h2>Is something missing?</h2>
        <p>If you notice something we've missed or could be improved on, please follow <a href="https://github.com/balderdashy/sails-docs/blob/master/<%= data.currentTemplate.slug %>.md" target="_blank">this link</a> and submit a pull request to the sails-docs repo.  Once we merge it, the changes will be immediately reflected on the website.</p>
      </div>
    </div>

    <div class="navigation">
      <div class="nav-wrapper">
        <h2>myApp</h2>

        <!-- If this template has a stabilityIndex docMeta tag, show it here -->
        <div class="stabilityIndex" ng-if="docs.currentPage.data.stabilityIndex" ng-include src="'./templates/stabilityIndexPartials/stability'+docs.currentPage.data.stabilityIndex+'.html'"></div>
        <br ng-if="docs.currentPage.data.stabilityIndex">

        <ul class="main-sections">
          <% _.each(data.templateList, function(navItem) {
            if(_.contains(data.expandedItems, navItem.path)) {
              navItem.isInitiallyExpanded = true;
            }
            else navItem.isInitiallyExpanded = false;
            // Only show top-level nav item initially
            // (Except for the ones that don't have children, because those are
            // the wierd ones that aren't really part of the docs.
            if(!navItem.isChild && (_.isArray(navItem.children) && navItem.children.length > 0)) {
          %>
          <li class="<%= navItem.isInitiallyExpanded && !navItem.isParent ? 'expanded' : navItem.isInitiallyExpanded && navItem.isParent ? 'expanded current-parent' : '' %>" ng-class="{'current': getIsCurrent('<%= navItem.slug %>'), 'expanded': getIsExpanded('<%= navItem.path %>'), 'folder': <%= navItem.isParent %>}">
            <%- partial('../partials/nav-item', {navItem: navItem, navItems: data.templateList, section: data.section, expandedItems: data.expandedItems}) %>
          </li>
          <% }
          }) %>
        </ul>
      </div>
    </div>
  </div>
</div>
