<% /* Expose menu data to make it accessible to client-side javascript */ %>
<script>
window.MENU_DATA = <%- JSON.stringify(data.templateList) %>;
</script>


<%- partial('../partials/docs-main-nav.ejs') %>

<div class="anatomy-page" ng-controller="DocsCtrl">
  <div class="anatomy-container">
    <div class="navigation">
      <div class="nav-wrapper">
        <h2>myApp</h2>

        <!-- If this template has a stabilityIndex docMeta tag, show it here -->
        <div class="stabilityIndex" ng-if="docs.currentPage.data.stabilityIndex" ng-include src="'./templates/stabilityIndexPartials/stability'+docs.currentPage.data.stabilityIndex+'.html'"></div>
        <br ng-if="docs.currentPage.data.stabilityIndex">

        <ul class="main-sections">
          <% _.each(data.templateList, function(navItem) {
              // Only show top-level nav item initially
              // (Except for the ones that don't have children, because those are
              // the wierd ones that aren't really part of the docs.
              if(!navItem.isChild &&  navItem.children && navItem.children.length) { %>

          <li ng-class="{'current': getIsCurrent('<%= navItem.slug %>'), 'current-parent': getIsParent('<%= navItem.slug %>'), 'expanded': getIsExpanded('<%= navItem.id %>'), 'folder': <%= navItem.isParent %>}">
            <%- partial('../partials/nav-item', {navItem: navItem, navItems: data.templateList, section: data.section }) %>
          </li>

          <% }
          }) %>
        </ul>
        <div class="book-banner-wrapper">
          <div class="book-banner">
            <img class="meap-cover" src="/images/bookCover.png"/>
            <h3>We wrote a book!</h3>
            <p>Get early access to the book<br/> with promotion code: <span>mcneildoc</span></p>
            <a class="book-link" target="_blank" href="http://www.manning.com/mcneil/">Get the Book</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Region with the information about the selected file -->
    <div class="anatomy-content">
      <div class="anatomy-section">
        <%- partial('../partials/doc-templates/'+data.currentTemplate.path) %>
      </div>

      <div class="contribution-message">
        <h2>Is something missing?</h2>
        <p>If you notice something we've missed or could be improved on, please follow <a href="{{docs.currentPage.fileOnGithub}}" target="_blank">this link</a> and submit a pull request to the sails-docs repo.  Once we merge it, the changes will be immediately reflected on the website.</p>
      </div>
    </div>
  </div>
</div>
